* {
  max-width: 700px;
  margin: auto;
}
div {
  border-radius: 5px;
}
#header {
  height: 40px;
  width: 100%;
  background-color: gray;
  position: fixed;
  z-index: 1;
}
#title {
  margin-left: 3%;
}
#footer {
  height: 50px;
  width: 100%;
  background-color: gray;
  clear: both;
  position: relative;
}
.left {
  height: 1000px;
  width: 45px;
  background-color: gray;
  float: left;
  position: fixed;
}
.right {
  height: 1000px;
  width: 45px;
  background-color: gray;
  float: right;
  position: inherit;
}
.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}
p,
li {
  font-family: 'Century Gothic';
}
.head {
  font-size: 20px;
}
#name {
  font-family: Century Gothic;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 430px) {
  .left,
  .right {
    display: none;
  }
  .stuff {
    width: 100%;
    margin-left: 10px;
  }
}